#wrapper {
  width: 532px;
  font-family: Helvetica, Arial, sans-serif;
}

select {
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  overflow: hidden;
  padding: 9px 15px;
  width: 326px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: #ff9419;
  line-height: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 0 40px;
  color: #FFF;
  cursor: pointer;
  font-size: 15px;
  margin-left: 6px;
  vertical-align: middle;
}

#loader img {
  margin: 0 auto;
  display: block;
}

table {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  border: 0 none;
  font-stretch: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

#colCountry,
#colType {
  width: 100px;
}

#colCode {
  width: 160px;
}